html{
  background: linear-gradient(100deg, rgb(0, 195, 255) 0%, rgb(161, 205, 255));
 
}
*{
  padding: 0;
  margin: 0;
  font-family: monospace,sans-serif;
}




.containerApp{


  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}
.containerApp2{

}
.Sliders2{
width: 100%;
}
.custom-prev-arrow{
  display: flex;
  top: 0;
  left: 0px; 
  z-index: 10;
   width: 60px;
  height: 10vh;
  position: absolute;

  background-color: #00000069;
  cursor: pointer;
  align-items: center;
  border: none;

}
.custom-next-arrow {
  right: 0;
  top: 0;
  z-index: 10;
  width: 60px;
  height: 10vh;

  background-color: #00000080;
  border: none;
  display: flex;
  position: absolute;
align-items: center;
  cursor: pointer;
}
.titulo{
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #ffffff69;
  font-size: 25px;
  font-weight: 600;
  font-family: sans-serif;
}